<div class="container">
    <div class="mt-4 mb-2 mx-5">
        <app-dashboardcard></app-dashboardcard>
    </div>
    <div class=" row m-5 p-2">
        <div class="ABC col-md-6 p-5" #abc>
            <app-dashboard-line></app-dashboard-line>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-area></app-dashboard-area>
        </div>
        <div class="ABC p-5">
            <app-dashboardtable></app-dashboardtable>
        </div>
        <div class="ABC pb-5">
            <app-dashboard-column></app-dashboard-column>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-bubble></app-dashboard-bubble>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-pie></app-dashboard-pie>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-polararea></app-dashboard-polararea>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-radar></app-dashboard-radar>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-rangearea></app-dashboard-rangearea>
        </div>
        <div class="ABC col-md-6 p-5">
            <app-dashboard-bar></app-dashboard-bar>
        </div>

        <div class="ABC col-md-6 p-5">
            <app-dashboard-radialbar></app-dashboard-radialbar>
        </div>
        <div class="ABC p-5">
            <app-dashboard-candlestick></app-dashboard-candlestick>
        </div>
    </div>
</div>