<table style="width: 100% ; border: 5px solid whitesmoke; text-align: center;">

    <tr class=" ABC p-3">
        <th class="p-3">Name</th>
        <th class="p-3">Phone No.</th>
        <th class="p-3">Address</th>
        <th class="p-3">DOB</th>
    </tr>
    <tr class="p-3">
        <td class="p-3">ABC</td>
        <td class="p-3">4561237895</td>
        <td class="p-3">delhi</td>
        <td class="p-3">22 Aug 2000</td>
    </tr>
    <tr class="p-3">
        <td class="p-3">XYZ</td>
        <td class="p-3">9516238526</td>
        <td class="p-3">Ghaziabad</td>
        <td class="p-3">20 Sep 2001</td>
    </tr>
    <tr class="p-3">
        <td class="p-3">QER</td>
        <td class="p-3">7899633215</td>
        <td class="p-3">Lucknow</td>
        <td class="p-3">19 Jan 2000</td>
    </tr>
    <tr class="p-3">
        <td class="p-3">FGH</td>
        <td class="p-3">7564238524</td>
        <td class="p-3">Noida</td>
        <td class="p-3">2 Dec 2002</td>
    </tr>
</table>