<mat-grid-list cols="3" rowHeight="3:1.5" class="mt-2 m-2 px-2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-icon>paid</mat-icon>
                <mat-card-title>INVESTMENT &nbsp;&nbsp;&nbsp;&nbsp;</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                INVESTMENT: 50 Cr.
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="89"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-icon>moving</mat-icon>
                <mat-card-title>PROFIT&nbsp;&nbsp;&nbsp;&nbsp;</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                PROFIT: 50% increased
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-icon>trending_down</mat-icon>
                <mat-card-title>LOSS &nbsp;&nbsp;&nbsp;&nbsp;</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                LOSS: 2%
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>